h1 {
    color: rgb(83, 72, 182);
    text-align: center;
  }


#mapid { height: 400px;
         width: 600px; 
         
        }


#mtaChart {

  border: solid black 1px;
  color: rgb(24, 26, 21);
  background-color: grey;
  margin-right: 15px;
  

}

#mtaTable {

  border: solid black 1px;
  color: rgb(19, 26, 10);
  background-color: grey;
  margin-right: 15px;
  
}

.container-fluid {
  margin: 10px;
  padding: 10px;
}

#headerTron {
  height:200px;
}

