<!doctype html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />
    <!-- leaflet javascript -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
    <!-- d3 -->
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- charts js cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>

    <title>MTA</title>
</head>

<body>

    <div class="container-fluid">

        <!-- <div class="row">
            <div class="col-12 alert alert-light border-0" id="title" role="alert">
                <h4>Metro Transit Data</h4>
            </div>
        </div> -->

        <div class="jumbotron jumbotron-fluid" id="headerTron">
            <div class="container-fluid">
                 <!-- Change header <h1 align="center">MTA Subway Information</h1> -->
                <h1 class="lead">MTA Subway Information</h1> 
            </div>
        </div>

        <!-- map -->
        <div class="row">
            <!-- <h4>Subway Stations</h4> -->
            <div class="col big-box border-0 rounded-left">
                <div id="mapid"></div>
            </div>
            <!-- faresChart -->
            
            <div class="col" id="heatChart1" >
                    <h4>Riders vs Day/Time</h4>
                <!-- HeatChart -->
                
                <div class="row" id="heatChart"></div>
                <div class="row" id="dataset-picker"></div>
                    <div class="col mini-box border-0 rounded-right" >
                        
                    </div>
                </div>
            </div>
          
        </div>
        <div class="row" >
                
                <div class="col mini-box border-0 rounded-right" >
                        <h4>Ridership Brexakdown by Fare Type</h4>
                        <canvas id="fareChart" width="200" height="50"></canvas>
                        
                </div>
            </div>
    </div>

    </div>

    <script src="https://d3js.org/d3-time.v1.min.js"></script>
    <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
    <!-- api key for map box -->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <!-- link to map box code -->
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- main app.js -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
    <!-- Optional Footer -->
    <!--<footer>
        <p>Created by: Cody Braun, Emanshu Patel, Franko Ortmann, and Sam Lingle</p>
        <p>Github Repository: <a href="https://github.com/SpacePatroller/Group_A_Project_2">
        github.com</a>.</p>
    </footer> -->
</body>

</html>
